{% extends 'base.html.twig' %}

{% block title %}
Bienvenue au hotelOREM, un hôtel de légende{% endblock %}

{% block body %}
  
    <body>
        
        <!-- header -->
        <header class = "header" id = "header">
            <div class = "head-top">
                <div class = "site-name">
                    <span>HotelOREM</span>
                </div>
                <div class = "site-nav">
                    <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
                </div>
            </div>

            <div class = "head-bottom flex">
                <h1>L'ENDROIT PARFAIT POUR VOUS RESSOURCER</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est quos veniam impedit numquam itaque voluptatum, dicta asperiores accusamus, eligendi neque ut incidunt, modi harum molestiae atque natus officia minima.</p>
                <button onclick="window.location.href = '#book';" type = "button" class = "head-btn">RESERVER</button>
                
            </div>
        </header>
        <!-- end of header -->
        <div class = "sidenav" id = "sidenav">
            <span class = "cancel-btn" id = "cancel-btn">
                <i class = "fas fa-times"></i>
            </span>
          

            <ul class = "navbar">
                <li><a href = "{{ path('app_home') }}">Accueil</a></li>
				{% if app.user  %}
                <li><a href = "{{ path('app_spa') }}">Mon compte</a></li>
                <li><a href = "#rooms">rooms</a></li>
                <li><a href = "{{ path('app_resto') }}">Contact</a></li>
            
			
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href = "{{ path('app_category_index') }}">Ajout de catégorie</a></li>
                     <li><a href = "{{ path('app_chambre_index') }}">Ajout de Chambre</a></li>
                    <li><a href = "{{ path('app_reservation_index') }}">Voir les Reservations</a></li>
						
                </ul>
           
            
					{% endif %}
                     <button onclick="window.location.href = '{{ path('app_logout') }}';" class = "btn sign-up">Déconnexion</button>
				{% else %}
				
                        <button onclick="window.location.href = '{{ path('app_login') }}';" class = "btn sign-up">Se connecter</button>
						
					
					
						<button onclick="window.location.href = '{{ path('app_register') }}';" class = "btn sign-up">S'inscrire</button>
					

				{% endif %} 
        </div>
       

        <!-- fullscreen modal -->
        <div id = "modal"></div>
        <!-- end of fullscreen modal -->
        
         {% for message in app.flashes('notice') %}
         <div class="popup">
        <button id="close2">&times;</button>
        <h2>Bienvenue</h2>
        <p>
             {{ message }}
        </p>
       
    </div>
    {% endfor %}
    
         {% for message in app.flashes('success') %}
         <div class="popup">
        <button id="close2">&times;</button>
        <h2>Bienvenue</h2>
        <p>
             {{ message }}
        </p>
       
    </div>
    {% endfor %}




{% for message in app.flashes('danger') %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}


        <!-- body content  -->
        <section class = "services sec-width" id = "services">
            <div class = "title">
                <h2>services</h2>
            </div>
            <div class = "services-container">
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-utensils"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Restauration</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis tempore officia accusamus asperiores. Illum maxime eligendi necessitatibus laudantium iste nisi pariatur doloremque ut illo similique voluptatum enim distinctio perferendis, ad ipsam aspernatur omnis rem autem ex, reiciendis corporis suscipit!</p>
                        <button type = "button" class = "btn">Know More</button>
                    </div>
                </article>
                <!-- end of single service -->
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-swimming-pool"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Loisirs</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis tempore officia accusamus asperiores. Illum maxime eligendi necessitatibus laudantium iste nisi pariatur doloremque ut illo similique voluptatum enim distinctio perferendis, ad ipsam aspernatur omnis rem autem ex, reiciendis corporis suscipit!</p>
                        <button type = "button" class = "btn">Know More</button>
                    </div>
                </article>
                <!-- end of single service -->
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-broom"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Hygiène</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis tempore officia accusamus asperiores. Illum maxime eligendi necessitatibus laudantium iste nisi pariatur doloremque ut illo similique voluptatum enim distinctio perferendis, ad ipsam aspernatur omnis rem autem ex, reiciendis corporis suscipit!</p>
                        <button type = "button" class = "btn">Know More</button>
                    </div>
                </article>
                <!-- end of single service -->
                <!-- single service -->
                <article class = "service">
                    <div class = "service-icon">
                        <span>
                            <i class = "fas fa-door-closed"></i>
                        </span>
                    </div>
                    <div class = "service-content">
                        <h2>Sécurité</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias blanditiis tempore officia accusamus asperiores. Illum maxime eligendi necessitatibus laudantium iste nisi pariatur doloremque ut illo similique voluptatum enim distinctio perferendis, ad ipsam aspernatur omnis rem autem ex, reiciendis corporis suscipit!</p>
                        <button type = "button" class = "btn">Know More</button>
                    </div>
                </article>
                <!-- end of single service -->
            </div>
        </section>

         <div class = "book" id = "book">
        
	
		{{ form_start(form) }}
        
		<div class="formulaire-dates">
			{{ form_widget(form.date_arrive,{ 'attr': {'class': 'foo'} })}}
			{{ form_widget(form.date_depart,{ 'attr': {'class': 'foo'} })}}
			{{ form_widget(form.category,{ 'attr': {'class': 'foo'} })}}
            <button class="button-login">{{ button_label|default('Recherche') }}</button>
		</div>
        <div class="formulaire-dates">
			
          
		</div>
        <div class="formulaire-dates">
			
			
            
		</div>
         <div class="formulaire-dates">
			
		</div>
		
			
			
		
		{{ form_end(form) }}
        </div>
	</div>   
            <form class = "book-form">

		</div>
		
			
		{# </div>
		{{ form_end(form) }}
                <div class = "form-item">
                    <label for = "checkin-date">Check In Date: </label>
                    {{ form_widget(form.date_arrive)}}
                </div>
                <div class = "form-item">
                    <label for = "checkout-date">Check Out Date: </label>
                   {{ form_widget(form.date_depart)}}
                </div>
                
                
                <div class = "form-item">
                    <label for = "rooms">Rooms: </label>
                    {{ form_row(form.category,{ 'attr': {'class': 'foo'} })}}
                </div>
                <div class = "form-item">
                <button >{{ button_label|default('Recherche') }}</button>
                   
                </div>
                {{ form_end(form) }} #}
            </form>
        </div> 
       
       <section class = "rooms sec-width" id = "rooms">
         
            <div class = "title">
                <h2>Chambres</h2>
            </div>
          
            <div class = "rooms-container">
            	{% for chambre in chambres %}
					<tr>
						<td>{{ chambre.id }}</td>
						<td>{{ chambre.tarif }}&euro;</td>
						<td>{{ chambre.titre }}</td>
						<td>{{ chambre.numero }}</td>
						<td>{{ chambre.description }}</td>
						<td><img src="{{ asset('images/' ~ chambre.image ) }}" alt="Images de chambre"></td>
						<td>{{ chambre.status ? 'Yes' : 'No' }}</td>
						<td>
							<button class="button-login-lg"><a href="{{ path('app_chambre_show', {'id': chambre.id}) }}">show</a></button>
                            <button class="warning-button-lg">
							<a href="{{ path('app_chambre_edit', {'id': chambre.id}) }}">edit</a></button>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				{% endfor %}
									
                      
        </section>


        <section class = "customers" id = "customers">
            <div class = "sec-width">
                <div class = "title">
                    <h2>Nos clients</h2>
                </div>
                <div class = "customers-container">
                    <!-- single customer -->
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3>J'ai passé un super séjour !</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae veritatis provident eveniet praesentium veniam cum iusto distinctio esse, vero est autem, eius optio cupiditate?</p>
                        <img src = "images/cus1.jpg" alt = "customer image">
                        <span>George VILAR, France</span>
                    </div>
                    <!-- end of single customer -->
                    <!-- single customer -->
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3>Etablissement confortable et calme</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae veritatis provident eveniet praesentium veniam cum iusto distinctio esse, vero est autem, eius optio cupiditate?</p>
                        <img src = "images/cus2.jpg" alt = "customer image">
                        <span>Maria CANCELES, Espagne</span>
                    </div>
                    <!-- end of single customer -->
                    <!-- single customer -->
                    <div class = "customer">
                        <div class = "rating">
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "fas fa-star"></i></span>
                            <span><i class = "far fa-star"></i></span>
                        </div>
                        <h3>Magnifique vue</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat beatae veritatis provident eveniet praesentium veniam cum iusto distinctio esse, vero est autem, eius optio cupiditate?</p>
                        <img src = "images/cus3.jpg" alt = "customer image">
                        <span>Nick GUITORA, Hongrie</span>
                    </div>
                    <!-- end of single customer -->
                </div>
            </div>
        </section>
        <!-- end of body content -->
        
        <!-- footer -->
        <footer class = "footer">
            <div class = "footer-container">
                <div>
                    <h2>A propos de nous </h2>
                    <p>Lorem ipsum dolor sit amet consectetur <br>  adipisicing elit.
                    Itaque sapiente mollitia doloribus provident? Eos quisquam aliquid vel dolorum,<br>
                     impedit culpa.</p>
                    <ul class = "social-icons">
                        <li class = "flex">
                            <i class = "fa fa-twitter fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-facebook fa-2x"></i>
                        </li>
                        <li class = "flex">
                            <i class = "fa fa-instagram fa-2x"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2>Liens utiles</h2>
                    <a href = "#">Mentions légales</a>
                    <a href = "#">Politiques de confidentialité</a>
                    <a href = "#">© Copyright 2022 HotelOREM</a>
                    
                </div>
                

                <div>
                    <h2>Contact</h2>
                    <a href = "#">Nous rejoindre</a>
                    <a href = "#">Besoin d'aide ?</a>
                    <a href = "#">Services</a>
                </div>
                

                <div>
                    <h2>Coordonnées</h2>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-map-marker-alt"></i>
                        </span>
                        <span>
                            13 rue Guy Moquet, Paris,75014,FRANCE
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-phone-alt"></i>
                        </span>
                        <span>
                            +336 78 45 52 33
                        </span>
                    </div>
                    <div class = "contact-item">
                        <span>
                            <i class = "fas fa-envelope"></i>
                        </span>
                        <span>
                            hotelOREM@gmail.com
                        </span>
                    </div>
                </div>
     
        </footer>

{% for message in app.flashes('success') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}
 {# <div class="home-container">
	<div class="formulaire-container">
		{{ form_start(form) }}
		<div class="formulaire-dates">
			{{ form_widget(form.date_arrive)}}
			{{ form_widget(form.date_depart)}}
            <button class="button-login">{{ button_label|default('Recherche') }}</button>
		</div>
		<div class="formulaire-button">
			{{ form_widget(form.category)}}
			
		</div>
		{{ form_end(form) }}
	</div>    #}
	 {# <div class="resa-container">
		{% if chambresDispo is defined %}
			{% for chambres in chambresDispo %}
				<div class="resa-box">
					<img src="{{ asset('images/' ~ chambres.image)}}" alt="...">
					<div class="resa-infobox">
						<div class="resa-info">
							{{ chambres.titre }}
							<div class="special-info">
								{{ chambres.category }}
							</div>
						</div>
						<div class="resa-info">
							{{ chambres.description }}
						</div>
						<div class="resa-info">
							{{ chambres.tarif }}&euro;
							<div class="special-info">
								prix par nuit
							</div>
						</div>
					</div>
					<div class="resa-paybox">
						<div class="resa-info">
                        Total : {{ chambres.tarif * nb_jour }}&euro;
                        </div>
                        <div class="resa-info">
                            {% set total = chambres.tarif * nb_jour %}
									{% if app.user %}
                                    <button class="warning-button-lg"><a href="{{ path('app_user_reservation',{
                                        'id' : chambres.id,
                                        'nom': chambres.titre,
                                        'tarifUnit': chambres.tarif,
                                        'date_arrive' : date_arrive.format('Y-m-d'),
                                        'date_depart' : date_depart.format('Y-m-d'),
                                        'total' : total
                                    }) }}"
                                    >Réserver</a></button>
                                    {% endif %}
                        </div>
					</div>
				</div>
			{% endfor %}
		{% endif %} 
    </div> #}  
{% endblock %}
