{% extends 'base.html.twig' %}

{% block title %}Reservation index
{% endblock %}

{% block body %}
	<h1 class="titre-index">Reservation index</h1>
	<div class="flex-box">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Tarif_unit</th>
					<th>Date_arrive</th>
					<th>Date_depart</th>
					<th>Total</th>
					<th>Paiement</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				
					<tr>
						<td>{{ reservation.id }}</td>
						<td>{{ reservation.nom }}</td>
						<td>{{ reservation.tarifUnit }}</td>
						<td>{{ reservation.dateArrive ? reservation.dateArrive|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ reservation.dateDepart ? reservation.dateDepart|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ reservation.total }}</td>
						<td>{{ reservation.paiement ? 'Yes' : 'No' }}</td>
						
					</tr>
				
			</tbody>
		</table>
	</div>
{% endblock %}
